body {
  font-family: sans-serif;
  padding: 60px;
  text-align: center;
  background-color: #f5f8ec;
}

h1 {
  font-weight: 200;
  font-size: 40;
}

h2 {
  font-weight: 300;
  margin-bottom: 30px;
}

h3 {
  font-weight: 800;
  margin-bottom: 10px;
}
p {
  margin: 0 0 20px 0;
  font-weight: 500;
}
.box {
  font-family: 'Courier New', Monospace;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
  font-weight: 100;
  display: inline-block;
  border-radius: 3px;
  -webkit-box-shadow:inset 1px 1px 5px 0 rgba(0,0,0,1);
  box-shadow:inset 1px 1px 5px 0 rgba(0,0,0,1);
  margin-bottom: 20px;
}